body{
  background: #794718;
}

.container {
  max-width: 400px;
}

input[type=text], input[type=text]:focus{
  color: #fff;
  border: none;
  background: #502c0a;
  max-width: 400px;
}

.myTodo li{
  background-color: #8f5620;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}