body{
  background: #4b1e3d;
}

.container {
  max-width: 400px;
}

input[type=text], input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(122, 68, 101, 0.2);
  max-width: 400px;
}

.myTodo li{
  background-color: #612b55;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none;
}